* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin: 3%;
}

#wrapper>div {
    width: 43%;
    padding: 4px;
}

p {
    margin-top: 15px;
}

p+input {
    width: 95%;
    border: 1px solid #c8c8c8;

}

input {
    padding: 10px;
    margin: 4px 0;
    border-radius: 5px;
}

/* battons */
/* ----------------------------------------- */
[type="button"] {
    border: none;
    outline: none;
}

#addUser,
#editUser {
    background-color: #fff;
    margin-top: 15px;
    border: 1.4px solid #38a542;
    color: #38a542;

}

#addUser:hover,
#editUser:hover {
    /* box-shadow: 0px 0px 1px 2px rgba(80, 150, 92, 0.75); */
    background-color: #38a542;
    color: #fff;
}

.editButton {
    background-color: #fbc000
}

.editButton:hover {
    background-color: #dca800
}

.deliteBatton {
    background-color: #d63e45;
    color: #fff;
}

.deliteBatton:hover {
    background-color: #c42d31;
}

/* ----------------------------------------- */

/* table */
/* ----------------------------------------- */
table {
    margin-top: 30px;
}

table,
tr {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-top: 1px solid #e4e4e4;
    padding: 8px;
}

th {
    border-bottom: 2px solid #d2d2d2;
    padding: 8px;
    border-top: 1px solid #e4e4e4;
    text-align: left;
}

/* ----------------------------------------- */